<div class="p-12 sm:p-16 mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      <article class="flex flex-col items-start rounded-2xl border border-gray-300 justify-between justify-center grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
        <div class="relative w-full">
          <img src="https://source.unsplash.com/random/480x360" alt="" 
          class="w-full max-h-200 min-h-200 m-0 object-cover overflow-hidden rounded-tl-8 rounded-tr-8 transition-transform duration-125 ease-out">
        </div>
        <div class="max-w-xl px-8 rounded-2xl">
          <div class="mt- flex items-center gap-x-4 text-xs  justify-between">
            <a href="#" class="relative z-10 rounded-full bg-blue-600 px-3 py-1.5 font-medium text-white">Marketing</a>
            <time datetime="2020-03-16" class="text-gray-500">Mar 16, 2020</time>
            </div>
          <div class="group relative">
            <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 text-2xl group-hover:underline group-focus:underline">
              <a href="#">
                <span class="absolute inset-0"></span>
                In usu laoreet repudiare legendos
              </a>
            </h3>
            <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">Illo sint voluptas. Error voluptates culpa eligendi. Hic vel totam vitae illo. Non aliquid explicabo necessitatibus unde. Sed exercitationem placeat consectetur nulla deserunt vel. Iusto corrupti dicta.</p>
          </div>
          <div class="relative mt-8 pb-6 flex items-center gap-x-4">
            <img src="https://source.unsplash.com/random/480x360" alt="" class="h-10 w-10 rounded-full bg-gray-50">
                
            <div class="text-sm leading-6">
              <p class="font-semibold text-gray-900">
                <a href="#">
                  <span class="absolute inset-0"></span>
                  Michael Foster
                </a>
              </p>
              <p class="text-gray-600">Co-Founder / CTO</p>
            </div>
          </div>
        </div>
      </article>

      <!-- More posts... -->
      {{> feature2}}
      {{> feature3}}
      {{> feature4}}
      {{> feature5}}
      {{> feature6}}

      <div class="flex justify-center">
			<button type="button" class="px-6 py-3 text-sm rounded-md hover:underline dark:bg-gray-50 dark:text-gray-600">Load more posts...</button>
		</div>
</div>