<div class="featured-section">
	<div class="global-padding">
		<div class="featured-subtitle global-subtitle">
			<small class="global-subtitle-title">Get started with our <span>best stories</span></small>
			
		</div>
		<div class="featured-wrap flickity-enabled is-draggable" tabindex="0">
																																															<div class="flickity-viewport" style="height: 451.672px; touch-action: pan-y;"><div class="flickity-slider" style="left: 0px; transform: translateX(0%);"><article class="item is-featured is-small is-image is-selected" style="position: absolute; left: 0px; transform: translateX(0%);">
	<div class="item-image global-image global-image-orientation global-radius is-landscape">
		
		<a href="/saltycustoms-story/" class="global-link" aria-label="From Selling Custom T-Shirts to 8-Figure Merchandise Company – The Saltycustoms' Story"></a>
		<img srcset="{{ feature_image }}" sizes="(max-width:480px) 300px, (max-width:768px) 600px, 1200px" src="/content/images/size/w1200/2024/03/king-quah.jpeg" loading="lazy" alt="">
		<div class="item-authors global-authors">
			<div>
				<div class="item-author global-item-author is-image global-image">
					<a href="/author/reuben/" class="global-link" title="Reuben Ch'ng"></a>
					<img src="{{ feature_image }}" loading="lazy" alt="Reuben Ch'ng">				</div>
			</div>
		</div>
	</div>
	<div class="item-content">
		<div class="item-tags global-tags">
			<a href="/tag/feature-interviews/">Interviews</a><span></span>
		</div>
		<h2 class="item-title"><a href="/saltycustoms-story/">From Selling Custom T-Shirts to 8-Figure Merchandise Company – The Saltycustoms' Story</a></h2>
		<p class="item-excerpt">
			From operating a business in a bedroom to building a 8-figure revenue company with 1,500+ international clients.
		</p>
	</div>
</article><article class="item is-featured is-small is-image is-selected" style="position: absolute; left: 0px; transform: translateX(104.29%);">
	<div class="item-image global-image global-image-orientation global-radius is-landscape">
		
		<a href="/1-thing/" class="global-link" aria-label="The 1 thing you want for your business"></a>
		<img srcset="{{ feature_image }}" sizes="(max-width:480px) 300px, (max-width:768px) 600px, 1200px" src="/content/images/size/w1200/2024/03/coffee.jpg" loading="lazy" alt="">
		<div class="item-authors global-authors">
			<div>
				<div class="item-author global-item-author is-image global-image">
					<a href="/author/reuben/" class="global-link" title="Reuben Ch'ng"></a>
					<img src="{{ feature_image }}" loading="lazy" alt="Reuben Ch'ng">				</div>
			</div>
		</div>
	</div>
	<div class="item-content">
		<div class="item-tags global-tags">
			<a href="/tag/business/">Business</a><span></span>
		</div>
		<h2 class="item-title"><a href="/1-thing/">The 1 thing you want for your business</a></h2>
		<p class="item-excerpt">
			What's the #1 thing you want if you opened a coffee shop today?
		</p>
	</div>
</article>

		
		</div>
	</div>
	</div>
</div>
