{{! index.hbs }}

{{!< default}}

{{#contentFor 'head'}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
    <!--[if (lt IE 9)]><script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/min/tiny-slider.helper.ie8.js"></script><![endif]-->
{{/contentFor}}
{{#contentFor 'scripts'}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
{{/contentFor}}

<div class="gh-page">
    <div class="gh-container">

        <div class="gh-postfeed">

            <div class="mt-16 space-y-20 lg:mt-20 lg:space-y-20">
                {{#foreach posts}}
                    {{#if @first}}
                        {{> bigPostCard page=../pagination.page}}
                    {{/if}}
                {{/foreach}}
            </div>
        </div>

       <div class="gh-postfeed">
            {{!-- <div class="bg-teal-200 mx-auto mt-16 grid max-w-4xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-full lg:grid-cols-3"> --}}
                <div id="js-featured-feed" class="mx-auto mx-w-auto p-8 sm:p-12 py-4 sm:py-12 justify-between">
                    {{#get 'posts' filter='featured:true' limit='all' as |featured|}}
                        {{#foreach featured visibility='all'}}
                        <div class="w-full">
                            {{> featuredPost page=../pagination.page}}
                            </div>
                        {{/foreach}}
                    {{/get}}
                {{!-- </div> --}}
            </div>
            </div>

            <div class="gh-postfeed">
        {{#get "posts" limit="1"}}
            {{#foreach posts}}
             {{> newsletter page=../pagination.page}}
            {{/foreach}}
        {{/get}}
                {{!-- </div> --}}
            </div>
            </div>

        <div class="gh-postfeed">
        {{#get "posts" limit="1"}}
            {{#foreach posts}}
                {{> features page=../pagination.page}}
            {{/foreach}}
        {{/get}}
         </div>

         <div class="gh-postfeed">
        {{#get "posts" limit="1"}}
            {{#foreach posts}}
                {{> category page=../pagination.page}}
            {{/foreach}}
        {{/get}}
         </div>

        <!-- If JS isn't enabled, fallback to standard pagiantion -->
        <noscript>
            <div class="gh-pagination">
                {{pagination}}
            </div>
        </noscript>
    </div>
</div>

{{#contentFor 'scripts'}}
    <script>
        const sliderContainer = document.querySelector('#js-featured-feed');
        if (sliderContainer) {
            const slider = tns({
                container: sliderContainer,
                items: 3,
                slideBy: 1,
                loop: true,
                autoplay: false,
                gutter: 32,
                nav: true,
                responsive: {
                    0: { items: 1, },
                    768: { items: 2, },
                    992: { items: 3, }
                }
            });
        }
    </script>
{{/contentFor}}
